.presentacion{
    @extend %presentacion;
    width: 100%;
    height: 85vh;
    text-align: center;
}

.novedades{
    width: 40rem;
}

.destacados{
    height: fit-content;
    @extend %flexboxColumn;
    margin: 1rem;

    &__articulo{
        background-color: $colorSecundario;
        width: 90vw;
        margin: 1% 0;
        padding: 1rem;
        text-align: left;
        display: flex;

        &__lista{
            list-style: square inside;
        }
    }

    &__derecha{
        align-self: flex-end;
        flex-flow: row-reverse nowrap;

        &__texto{
            text-align: right;
        }
    }

    &__imagen{
        height: 30vh;
        width: auto;
        margin: 0.5%;
        box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.55);
        transition: all 1s;
    
        &:hover{
            transform: scale(1.1, 1.1);
        }
    }
    
    &__anchor{
        @extend %destacadosAnchor;
    }
}

.nosotros{
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "subtitulo subtitulo"
    "texto imagen";
    padding: 2rem;

    &__titulo{
        grid-area: titulo;
    }

    &__text{
        font-size: 1.2rem;
        text-align: left;
        grid-area: texto;
    }

    &__span{
        font-style: italic;
        font-size: 1.8rem;
        text-align: center;
        grid-area: subtitulo;
    }

    &__imagen{
        grid-area: imagen;
        @extend %flexboxColumn;
        justify-content: center;

        &__logo{
            width: 30rem;
        }
    }
}